<% if login? %>
<a href="/questions/new">Ask a question</a>
<% end %>
<main>
  <ul>
    <% @questions.each do |question| %>
      <li>
        <a href="/questions/<%= question.id %>"><%= question.title %></a>
        <span><%= "Written on #{long_form_date(question.created_at)} by #{User.find(question.author_id).username}." %></span>
        <span>3 votes | 5 answers | 23 comments </span>
        <p><%= stub(question.description) %></p>
      </li>
    <% end %>
  </ul>
</main>
