<h1>Ask a question</h1>

<% if @errors %>
  <span>Something went wrong:</span>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<form method="post" action="/questions">
  <label>Title:</label>
  <input id="title_input" name="title" type="text" tabindex="1">
  <label>Description:</label>
  <textarea id="description_textarea" name="description" tabindex="2"></textarea>

  <input type="submit" value="Post" tabindex="3">
</form>
